<div class="l-main">
  <div class="l-contentWrap padding109"><img class="logo mb20" alt="Logo"
      src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" height="92" width="272">

    <div class=" ">
      <input type="url" placeholder="url sem barra no final" [(ngModel)]="site" style="width:20rem;  margin-left:2rem;"
        class="inputWrap ">
    </div>
    <p class="mb20 button" (click)="processImage()" style="cursor:pointer; margin-top:1rem ; margin-left:2rem;">Buscar
      imagens</p>
  </div>
</div>

<div id="kehl-grid">
  <div class="margin">
    <div *ngFor="let item of list" class="grid-box-1 branding">
      <a href="{{item.site}}{{item.default_url}}">
        <div class="image-mask-1"></div>
        <img title="saturate" class="saturate" src="{{item.site}}{{item.default_url}}" alt="" />

        <h5>Ver na imagem para ver a original</h5>

        <p>Data processamento: {{item.process_date |
          date: 'dd/MM/yyyy HH:mm'}}</p>
      </a>
    </div>

  </div>
</div>