

/* layout */
html, body {
  height: 100%;
}
.l-header {
  height: 4rem;
}
.l-main {
  height: calc(100% - 6.5rem);
}
.l-contentWrap {
  margin: 0 auto;
  max-width: 500px;
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.l-footer {
  height: 2.5rem;
  background-color: #f2f2f2;
}


.flex-wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.saturate { filter: grayscale(100%);  }

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 90%;
  margin: 0 auto;
  display: block;
  height: 2rem;
  border: none;
}
.inputWrap {
  width: 90%;
  padding: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

.inputWrap:hover {
  box-shadow: 0 2px 2px 2px rgba(0,0,0,0.16);
}

.button {
  background-color: #f2f2f2;
  margin: 0 5px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: small;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
}

.button:hover {
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  border: 1px solid #ccc;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.link {
  font-size: small;
  padding: 10px;
}

.button--action {
  background-color: #4285f4;
  color: white;
  font-size: small;
  font-weight: bold;
}

.button--action:hover {
  background-image: none;
}



/* utility */
.padding109 {
  padding-top: 109px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}